@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --main-color: #ffffff;
    --secondary: #cbf3f0;
    --third: #2ec4b6;
    --border: .1rem solid #b5e2fa;
    --black: #000000
}

* {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background: var(--secondary);
}

section {
    padding: 2rem 7%;
}


.heading {
    text-align: center;
    color: var(--third);
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 2em;
}

.btn button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn button:hover {
    background-color: var(--third);
    color: var(--main-color);
}

.header {
    background: #001524;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
}

.header .logo label {
    font-size: 2em;
    text-decoration: none;
    color: var(--secondary);
}

/* .header .navbar a{
    margin: 0;
} */

/* /* .navbar{
    display: flex;
    justify-content: flex-end;
} */

.navbar .menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 45px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1em;
}

.header label {
    margin-left: -40px;
}

.header .navbar a:hover {
    color: var(--secondary);
    border-bottom: .1rem solid var(--third);
    padding-bottom: .5rem;
}

.header .menu-icons div {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4em;
    margin-left: 20px;
    margin-right: 20px;
}

/* ---------------------Navbar--------------------------------------- */

/* ------------------------volunteer----------------------------------- */

.Volunteer {
    /* border: 1px solid red; */
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.Volunteer h2 {
    margin: 10px;
}

.Volunteer h3 {
    margin: 10px;
}

.Volunteer ul li {
    list-style: none;
}

/* ---------------------------volunteer------------------------------------- */

.contact h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    color: #2ec4b6;
    margin: 20px;
}

.contact .row {
    display: flex;
    background-color: #001524;
    flex-wrap: wrap;
    gap: 10px;
}

.contact .row .map {
    flex: 1 1 20px;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 20px;
    padding: 20px;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: #ffffff;
}

.contact .row form h4 {
    color: #fff;
    font-size: 1.4em;
}

.contact .row form .selection {
    margin: 20px;

}

.contact .row form .selection label {
    color: #fff;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2em;
    margin-left: 10px;
}

.selection .selection-item {
    display: flex;
    padding: 5px;
}

.contact .row form textarea {
    height: 200px;
    width: 700px;
    margin-bottom: 20px;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #001524;
    border: var(--border);
    margin-left: 115px;
    margin-right: 115px;
}

.contact .row form .inputBox span {
    color: #ffffff;
    font-size: 1.1em;
    padding-left: 20px;
}

.contact .row form .inputBox input {
    /* width: 100%; */
    padding: 20px;
    font-size: 1.1em;
    color: #fff;
    text-transform: none;
    background: none;
}

.submit-btn{
    padding: 10px;
    border: 1px solid #b5e2fa;
    color: #fff;
    width: 20%;
    outline: none;
    background: none;
}

.submit-btn:hover{
    background-color: #fff;
    color: #001524;
}

/* ---------------------Footer----------------------------- */
footer {
    background-color: #001524;
}

.footer {
    padding: 4rem 6rem;
    color: var(--main-color);
}

.top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom {
    padding: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div {
    display: flex;
    flex-direction: column;
}

.bottom h4 {
    font-size: 1.3em;
    padding: 1rem 0 .8rem 0;
}

.bottom a {
    text-decoration: none;
    color: var(--main-color);
    padding-bottom: .4rem;
    font-size: 1.1em;
}

.menu .btn {
    display: none;
}

.menu-icon {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5em;
    display: none;
}

.btn {
    display: block;
    margin-left: 20px;
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 4rem 2rem;
    }

    .bottom div {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {

    .header .logo label {
        font-size: 1.4em;
        margin-left: 6px;
    }

    .menu-icon {
        display: block;
        margin-left: 60px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #001524;
        padding: 20px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .navbar ul li {
        padding: 10px;
    }

    .navbar.open {
        display: flex;
        margin-top: 45px;
    }

    .navbar ul {
        flex-direction: column;
        padding: 0;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar .btn {
        display: block;
        margin: 20px;
    }

    .navbar a {
        color: #fff;
    }

    .heading {
        font-size: 1.7em;
    }

    .contact .row{
        flex-direction: column;
        align-items: center;
    }

    .contact .row .map{
        width: 100%;
    }

    .contact .row form{
        width: 100%;
        max-width: 600px;
    }

    .contact .row form textarea{
        width: 100%;
    }

    .contact .row form .inputBox{
        margin-left: 20px;
        margin-right: 20px;
    }

    .contact .submit-btn{
        padding: 10px;
    }

    .footer {
        padding: 20px;
    }

    .bottom div {
        width: 50%;
        /* padding-left: 40px;
        padding-right: 40px;
        margin-left: 20px; */
    }
}